* {
	box-sizing: border-box;
	outline: none;
}


body {
	font-size: 0;
	margin: 0;
	min-width: 980px;
}

.headLending {
	padding: 40px 120px 260px;
	position: relative;
	background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('./layer-5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	/*overflow: hidden;*/
}

.headLending::before,
.headLending::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
}

.headLending::before {
	border-bottom: 120px solid #fff;
	border-right: 960px solid transparent;
	right: 50%;
}

.headLending::after {
	/*border-bottom: 120px solid #fff;*/
	border-left: 960px solid transparent;
	left: 50%;
}

.m_width {
	max-width: 1170px;
	min-width: 980px;
	margin: 0 auto;
}

.logo {
	width: 141px;
	display: inline-block;
	vertical-align: middle;
}

.nav {
	width: calc(100% - 141px);
	padding-left: 20px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	float: right;
}

.nav_link {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #f4f5f9;
	height: 52px;
	line-height: 52px;
	font-weight: 700;
	transition: color .3s;
	margin-left: 60px;
	display: inline-block;
	vertical-align: middle;
}

.nav_link:first-child {
	margin-left: 0;
}

.nav_link:hover {
	color: #e74c3c;
	border-bottom: 1px solid #e74c3c;
}

.section_content {
	margin-top: 235px;
	text-align: center;
}

.subtitle {
	color: #f4f5f9;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.2px;
}

h1 {
	color: #f4f5f9;
	font-family: "Open Sans";
	font-size: 72px;
	font-weight: 700;
	margin: 45px 0 0 0;
	text-transform: uppercase;
	letter-spacing: 7.2px;
}

.style_circle {
	position: relative;
	display: inline-block;
	margin-top: 45px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #e74c3c;
}

.style_circle::before,
.style_circle::after {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	position: absolute;
	top: 3px;
	background: #f1ebe7;
}

.style_circle::before {
	right: calc(100% + 14px);
}
.style_circle::after {
	left: calc(100% + 14px);
}

.description {
	max-width: 580px;
	margin: 0 auto;
	color: #cbc6c0;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 45px;
}

.buttons {
	margin-top: 68px;
}

.main_button {
	width: 225px;
	padding: 22px;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
	background: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: -0.24px;
	text-align: center;
	cursor: pointer;
	transition: opacity .3s;
}

.main_button:hover {
	opacity: 0.7;
}

.m_primary {
	background-color: #e74c3c;
	border: none;
	margin-right: 30px;
}

.anchor_btn {
	position: absolute;
	bottom: -37px;
	left: calc(50% - 37px);
	width: 74px;
	height: 74px;
	background: rgba(255, 255, 255, .25);
	border-radius: 50%;
	padding: 5px;
	border: none;
	z-index: 1;
}

.anchor_inner {
	width: 64px;
	height: 64px;
	background: #f4f5f9;
	border-radius: 50%;
}

.anchor_btn svg {
	width: 22px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.cube {
	min-height: 210px;
	margin-top: 88px;
	width: calc((100% - 56px) * 0.13);
	margin-left: 56px;
	display: inline-block;
	vertical-align: middle;
	position: relative;	
}

.design {
	text-align: center;
	min-height: 417px;
	background: #ffffff;
	border-bottom: 1px solid #e6e7eb;
	border-bottom-width: 100%;
}
.blockWithImg {
	width: 73px;
	height: 73px;
	border: 1px solid rgba(0,0,0, 0.25);
	margin: 0 auto;		
	cursor: pointer;
	transition: transform .3s;
}
.glass {
	/*margin-left: calc((100% - 27px) / 2);*/
	margin-top: calc((100% - 13px) / 2);
	transition: transform .3s;
}
.heart {
	/*margin-left: calc((100% - 21px) / 2);*/
	margin-top: calc((100% - 19px) / 2);
	transition: transform .3s;
}
.lamp {
	/*margin-left: calc((100% - 17px) / 2);*/
	margin-top: calc((100% - 27px) / 2);
	transition: transform .3s;
}
.textArea {
	/*margin-left: calc((100% - 21px) / 2);*/
	margin-top: calc((100% - 22px) / 2);
	transition: transform .3s;
}
.tittleCube {	
	color: #6a6a6a;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;	
	letter-spacing: 1.35px;
	margin-top: 30px;
}
hr {
	width: 41px;
}
.lorem {
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;	
	letter-spacing: 0.9px;
}
.blockWithImg:hover {
	transform: rotate(50deg);
	border: 1px solid #e74c3c;	
}
.blockWithImg:hover .glass,
.blockWithImg:hover .heart,
.blockWithImg:hover .lamp,
.blockWithImg:hover .textArea {
	transform: rotate(-50deg);	
}
.history {
	min-height: 694px;
	background: #ffffff;
	margin: 0 auto;
	text-align: center;		
}
.leftHistory {
	height: 407px;
	/*width: calc((100% + 77px) * 0.26);*/
	/*background: gray;*/
	display: inline-block;
	vertical-align: middle;
	margin-top: 141px;
	max-width: 506px;
}
.rightHistory {
	height: 407px;
	width: calc((100% + 77px) * 0.3);
	/*background: gray;*/
	display: inline-block;
	vertical-align: middle;
	margin-left: 77px;
	margin-top: 141px;
	padding-top: 0;
	/*color: white;*/
	text-align: left;
}
.loremHis {
	text-align: left;
}
.ourHis {
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;	
	letter-spacing: 3.6px;
	margin-top: 0;
	margin-left: 29px;
	display: inline-block;
	vertical-align: middle;
}
/*.ourHis::before {
	content: ' ';
	display: block;
	width: 6px;
	height: 36px;
	position: absolute;
	background: #e74c3c;
	right: calc(48% + 0.01%);
}*/
.orange {
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 36px;
	margin: 0;
	position: absolute;
	background: #e74c3c;
	/*right: calc(48% + 0.01%);*/
}
.bottomHistory {
	margin-top: 47px;
	width: 225px;
	height: 56px;
	/*padding: 22px 42px;*/
	background: #e74c3c;
	border: none;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;	
	letter-spacing: 0.12px;
	cursor: pointer;
	transition: opacity 0.3s;
}
.bottomHistory:hover {
	opacity: 0.7;
}
.ourServises {
	min-height: 768px;
	margin: 0;
	padding: 0;
}
.leftSer {
	min-height: 768px;
	width: calc(100% * 0.542);
	background: #202020;
	border: none;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}
.rightServ {
	width: calc(100% * 0.458);
	background: url(./img_part1/tablet.png);
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	display: inline-block;
	vertical-align: middle;
	min-height: 768px;
}
.titleOur {	
	color: #f4f5f9;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;	
	letter-spacing: 3.6px;
	margin: 0;
	margin-top: 155px;
	margin-right: 115px;
	display: inline-block;
	vertical-align: middle;
	/*margin-left: calc((100% - 306px) * 0.7);*/
}
.ourBtn {
	position: absolute;
	/*bottom: -37px;*/
	/*left: calc(50% - 37px);*/
	width: 74px;
	height: 74px;
	background: rgba(255, 255, 255, .25);
	border-radius: 50%;
	padding: 5px;
	border: none;
	/*z-index: 1;*/
	left: calc(54.2% - 37px);
	display: inline-block;
}
.displayBtn {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #f4f5f9;	
	display: inline-block;
	vertical-align: middle;
}
.paperOur svg{
	margin-top: 17px;
	width: 31px;
}
.ourOrange {
	margin-top: 155px;
	left: calc(54% - 80px);
}
.displayBlk {
	width: calc((100% - 386) * 0.65);
	height: 77px;
	text-align: right;
	margin-top: 78px;
}
.titleServ {		
	color: #e74c3c;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;	
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-right: 80px;
}
.loremServ {		
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	margin-right: 80px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 35%;
}
.ourBtn svg {
	width: 27px;
	position: relative;	
}
.displayOur svg{
	margin-top: 20px;
}
.photoOur svg {
	margin-top: 18px;
}
.paperBlk {
	width: calc((100% - 386) * 0.65);
	height: 77px;
	text-align: right;
	margin-top: 78px;
}
.recend {
	min-height: 370px;
	background: #ffffff;
	text-align: center;
}
.titleRecen {
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;	
	letter-spacing: 3.6px;
	margin-top: 140px;
}
.oremRecent {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
}
.style_circleRec {
	position: relative;
	display: inline-block;
	margin-top: 28px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #e74c3c;

}
.style_circleRec::before,
.style_circleRec::after {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	position: absolute;
	top: 3px;
	background: #999999;
}
.style_circleRec::before {
	right: calc(100% + 14px);
}
.style_circleRec::after {
	left: calc(100% + 14px);
}
.navRec {		
	margin-top: 103px;
}
.nav_linkRec, .spSlesh {
	margin-top: 68px;
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;	
	color: #939bc1;
	text-decoration: none;
	transition: color 0.3s;
	transition: font-weight .3s;
}
.nav_linkRec:hover {
	font-weight: 700;
	color: #e74c3c;	
}
.photoHov {
	height: 960px;
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 1440px){ 
	.tittleCube {
		font-size: 14px;
	}
}
.lineBlockOne {
	height: 480px;
	background: url(img_part1/windows.png);
	width: calc(100% / 4);
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.lineBlockTwo {
	height: 480px;
	background: url(img_part1/t-short.png);
	width: calc(100% / 4);
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.lineBlockTree {
	height: 480px;
	background: url(img_part1/tablet2.png);
	width: calc(100% / 4);
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.lineBlockFor {
	height: 480px;
	background: url(img_part1/phone.png);
	width: calc(100% / 4);
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.lineBlockFiv {
	height: 480px;
	background: url(img_part1/turck.png);
	width: calc(100% / 4);
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.lineBlockSix {
	height: 480px;
	background: url(img_part1/papers.png);
	width: calc(100% / 4);
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.lineBlockSeven {
	height: 480px;
	background: url(img_part1/reader.png);
	width: calc(100% / 4);
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.lineBlockEight {
	height: 480px;
	background: url(img_part1/macs.png);
	width: calc(100% / 4);
	background-size: cover;
	display: inline-block;
	vertical-align: middle;
}
.titleHov {		
	margin-top: 31px;
	color: #ffffff;
	font-family: "Source Sans Pro - Semibold";
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;	
	letter-spacing: 1.2px;	
	margin-left: 50px;
}
.hrHov {
	width: 44px;
	height: 4px;
	background: #ffffff;
	margin-top: 347px;
	margin-left: 50px;
	border: none;
}
.contentHov {
	margin-top: 21px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;	
	letter-spacing: 0.7px;
	margin-left: 50px;
}
.hrHov, .titleHov, .contentHov {
	opacity: 0;
}
.lineBlockOne:hover #seeThisBlock,
.lineBlockTwo:hover #seeThisBlock,
.lineBlockTree:hover #seeThisBlock,
.lineBlockFor:hover #seeThisBlock,
.lineBlockFiv:hover #seeThisBlock,
.lineBlockSix:hover #seeThisBlock,
.lineBlockSeven:hover #seeThisBlock,
.lineBlockEight:hover #seeThisBlock {
	opacity: 1;
}
.lineBlockOne:hover {
	background-image: linear-gradient(to right, rgba(231, 76, 60, .8),
	rgba(231, 76, 60, .8)), url(./img_part1/windows.png);
}
.lineBlockTwo:hover {
	background-image: linear-gradient(to right, rgba(231, 76, 60, .8),
	rgba(231, 76, 60, .8)), url(./img_part1/t-short.png);
}
.lineBlockTree:hover {
	background-image: linear-gradient(to right, rgba(231, 76, 60, .8),
	rgba(231, 76, 60, .8)), url(./img_part1/tablet2.png);
}
.lineBlockFor:hover {
	background-image: linear-gradient(to right, rgba(231, 76, 60, .8),
	rgba(231, 76, 60, .8)), url(./img_part1/phone.png);
}
.lineBlockFiv:hover {
	background-image: linear-gradient(to right, rgba(231, 76, 60, .8),
	rgba(231, 76, 60, .8)), url(./img_part1/turck.png);
}
.lineBlockSix:hover {
	background-image: linear-gradient(to right, rgba(231, 76, 60, .8),
	rgba(231, 76, 60, .8)), url(./img_part1/papers.png);
}
.lineBlockSeven:hover {
	background-image: linear-gradient(to right, rgba(231, 76, 60, .8),
	rgba(231, 76, 60, .8)), url(./img_part1/reader.png);
}
.lineBlockEight:hover {
	background-image: linear-gradient(to right, rgba(231, 76, 60, .8),
	rgba(231, 76, 60, .8)), url(./img_part1/macs.png);
}
.caseStudy {
	min-height: 1186px;
	background: #f4f5f9;
	text-align: center;
	margin: 0;
	padding: 0;
}
.titleStudy {
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;	
	letter-spacing: 3.6px;
	margin: 0;
	padding-top: 150px;

}
.contentStu {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
}
.leftStudy {
	width: 665px;
	height: 629px;
	background: #ffffff;
	margin-top: 148px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-left: calc(100% * .02);
	z-index: 1;
	position: absolute;	
}
.rightStudy {
	width: 582px;
	height: 722px;
	margin-top: 102px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 30%;	
}
.style_circleStu {
	position: absolute;
	display: inline-block;
	margin-top: 28px;
	width: 8px;
	height: 8px;
	left: 50%;
	border-radius: 50%;
	background-color: #e74c3c;

}
.style_circleStu::before,
.style_circleStu::after {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	position: absolute;
	top: 3px;
	background: #999999;
}
.style_circleStu::before {
	right: calc(100% + 14px);
}
.style_circleStu::after {
	left: calc(100% + 14px);
}
.cubeWithLamp {
	margin-top: 80px;
	margin-left: calc(50% - 45px);
	width: 90px;
	height: 90px;
	border: 1px solid #e74c3c;
	transform: rotate(50deg);
	background: #e74c3c;

}
.lampHoverStu {
	margin-top: calc((100% - 34px) / 2);
	transform: rotate(-50deg);
	width: 21px;
}
.titleStu {
	margin-top: 54px;
	color: #6a6a6a;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.35px;
}
.loremStud {
	margin-top: 27px;
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 1.05px;
	margin-left: 61px;
	margin-right: 61px;
}
.hrStud {
	margin-top: 29px;
	width: 41px;
	height: 2px;
	color: #6a6a6a;
}
.btnStud {	
	margin-top: 48px;	
	width: 145px;
	height: 46px;
	background: #e74c3c;
	border: none;
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.14px;
	cursor: pointer;
	transition: opacity 0.3s;
}
.radiStud {
	margin-top: 53px;
}
.inputDisplayNone[type=radio] {
    display: none;
}
.radioLabel:before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #cbc6c0;
	margin-left: 8px;
	border-radius: 50%;
	cursor: pointer;	
}
input[type=radio]:checked + label:before {
	background: #e74c3c;
	font-size: 12px;
 	text-align: center;
    line-height: 10px;  
}
.btnStud:hover {
	opacity: 0.8;
}